nav.grey.darken-4
    .nav-wrapper.container
        a.brand-logo(href='#') Stock manager

        ul#nav-mobile.right.hide-on-med-and-down
            //- li
            //-   form
            //-     .input-field
            //-       input#search(type='search', required='')
            //-       label.label-icon(for='search')
            //-         i.material-icons search
            //-       i.material-icons close
            li
                a(href='/stock_manager/stock/index.html') Stock research
            li
                a(href='/stock_manager/user/index.html') User's stock
            li
                a(href='collapsible.html') JavaScript

        //- form
        //-     .input-field
        //-     input#search(type='search', required='')
        //-     label.label-icon(for='search')
        //-         i.material-icons search
        //-     i.material-icons close