doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Page Title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='common/css/main.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

  body
    .wrapper
      .sidebar.section.center
        .input-field.center-align
          input#stockCode.validate.center-align(type='text' name="stockCode")
          label(for='stockCode') StockCode
        //- input.center(type="text" name="stockCode")
        


        //- button.btn.waves-effect.waves-lightbtnSearch(type='submit', name='action')
        //-   | Search
        //-   i.material-icons.right search
        a.waves-effect.waves-light.btn#btnSearch.col.s12
          | Search
          i.material-icons.right search

        ul.collection
          li.collection-item
            span.badge.currentIntradayPricePercent
            .input-field
              input.currentIntradayPrice.center-align(type='text', placeholder= "")
              label.currentIntradayLabel(for='disabled') Current price
              //- input.currentIntradayPricePercent.center-align(type='text', placeholder= "")


          li.collection-item
            //- i.material-icons.circle border_top
            span.badge.maxIntradayPricePercent
            .input-field
              input.maxIntradayPrice.center-align(type='text', placeholder= "")
              label.maxIntradayLabel(for='disabled') Max price
              //- input.maxIntradayPricePercent.center-align(type='text', placeholder= "")


          li.collection-item
            //- i.material-icons.circle border_bottom
            span.badge.minIntradayPricePercent
            .input-field
              input.minIntradayPrice.center-align(type='text', placeholder= "")
              label.minIntradayLabel(for='disabled') Min price

          li.collection-item
            //- i.material-icons.circle border_bottom
            span.badge.openIntradayPricePercent
            .input-field
              input.openIntradayPrice.center-align( type='text', placeholder= "")
              label.openIntradayLabel(for='disabled') Open price
              //- input.openIntradayPricePercent.center-align(type='text', placeholder= "")

          li.collection-item
            //- i.material-icons.circle border_bottom
            .input-field
              input.referenceIntradayPrice.center-align( type='text', placeholder= "")
              label.referenceIntradayLabel(for='disabled') Reference price

      #containerIntradayQuotes
      #containerHistoricalQuotes

      canvas#IntradayChart
      canvas#HistoricalChart

    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js')

    script(src='common/js/behavior.js')
    script(src='common/js/main.js')